@media (min-width: 992px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }

    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

/* Other styles for the page not related to the animated dropdown */
.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nannies-search {
    .nannies-container {
        display: flex;
        flex-wrap: wrap;

        .nanny-card {
            display: flex;
            width: 31%;
            margin: 0 1%;

            &:hover {
                box-shadow: 1px 1px 5px 5px #f0f0f0, -1px -1px 5px 5px #f0f0f0;
            }

            .profile {
                width: 100%;

                ul {
                    list-style: none;
                    padding: 0 0.5rem;
                    margin-top: 1rem;

                    li {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 0.5rem 0;
                        font-size: 14px;
                        line-height: 18px;

                        i {
                            margin-right: 10px;
                            color: #607d8b;
                        }

                        &:not(:last-child) {
                            border-bottom: 1px solid #eee;
                        }
                    }
                }

                .profile-img {
                    min-width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: table;
                    vertical-align: middle;
                    margin: 0 auto;
                }

                .name {
                    text-align: center;
                    font-weight: bold;
                    margin-top: 0.5rem;
                }

                .username {
                    text-align: center;
                    margin: auto;
                    color: #aaa;
                    font-size: 13px;
                }
            }
        }

        .card {
            border: 0;

            /* .card-header {
                .name {
                    font-weight: bold;
                }

                .username {
                    color: #aaa;
                    font-size: 13px;
                }
            } */

            .card-body {
                label {
                    font-weight: bold;
                    text-decoration: underline;
                    font-size: 18px;
                    color: #444;
                }

                .content {}
            }
        }
    }
}

.tutors-search {
    .tutor-card {
        display: flex;

        .profile {
            ul {
                list-style: none;
                padding: 0 0.5rem;
                margin-top: 1rem;

                li {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 0.5rem 0;
                    font-size: 14px;
                    line-height: 18px;

                    i {
                        margin-right: 10px;
                        color: #607d8b;
                    }

                    &:not(:last-child) {
                        border-bottom: 1px solid #eee;
                    }
                }
            }

            .profile-img {
                min-width: 120px;
                height: 120px;
                border-radius: 50%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                display: table;
                vertical-align: middle;
                margin: 0 auto;
            }
        }

        .card {
            border: 0;

            .card-header {
                .name {
                    font-weight: bold;
                }

                .username {
                    color: #aaa;
                    font-size: 13px;
                }
            }

            .card-body {
                label {
                    font-weight: bold;
                    text-decoration: underline;
                    font-size: 18px;
                    color: #444;
                }

                .content {}
            }
        }
    }
}

.home {
    .timeline {
        ul.timeline {
            list-style-type: none;
            position: relative;
        }

        ul.timeline:before {
            content: " ";
            background: #d4d9df;
            display: inline-block;
            position: absolute;
            left: 0;
            width: 2px;
            height: 100%;
            z-index: 400;
        }

        ul.timeline>li {
            margin: 20px 0;
            padding-left: 20px;

            .hired-username {
                color: #888;
            }

            .hire-date {
                color: #888;
                text-decoration: underline;
            }
        }

        ul.timeline>li.pending:before {
            border: 3px solid #22c0e8;

        }

        ul.timeline>li.accepted:before {
            border: 3px solid #6fb700;

        }

        ul.timeline>li.declined:before {
            border: 3px solid #ff6060;

        }

        ul.timeline>li:before {
            content: " ";
            background: white;
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            left: -10px;
            width: 20px;
            height: 20px;
            z-index: 400;
            margin-top: 1px;
        }
    }
}

.profile {
    .process-step .btn:focus {
        outline: none;
    }

    .process {
        display: table;
        width: 100%;
        position: relative;
    }

    .process-row {
        display: table-row;
    }

    .process-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }

    .process-row:before {
        top: 30px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
    }

    .process-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }

    .process-step p {
        margin-top: 4px;
    }

    .btn-circle {
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 12px;
        border-radius: 50%;
        color: #fff;

        &.btn-default {
            background-color: #eee;
            color: #aaa;
        }
    }

    .info {
        .avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            border: 2px solid #dce9f5;
            margin: 0 auto;
        }
    }
}

.posts-index {
    .post {
        .card-header {
            position: relative;

            .name {
                font-size: 14px;
                font-weight: bold;
                color: #777;
                text-decoration: underline;
                display: inline-block;
            }
        }

        .posted-by {
            position: absolute;
            right: 10px;
            font-size: 14px;
            top: 50%;
            transform: translateY(-50%);
            color: #777;
        }
    }
}
